{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block contenido %}
<section class="flex items-center justify-center py-12 px-4 min-h-screen bg-gray-100">
    <div class="w-full max-w-md">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="px-6 py-8">
                <h2 class="text-2xl font-semibold text-center text-gray-700">Iniciar Sesión</h2>
                <form method="post" class="mt-4">
                    {{ form.hidden_tag() }}
                    <div class="mt-4">
                        {{ form.username_or_email.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                        {{ form.username_or_email(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", placeholder="Correo electrónico o Usuario") }}
                        {% for error in form.username_or_email.errors %}
                        <span class="text-xs text-red-600">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mt-4">
                        {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                        {{ form.password(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", placeholder="Contraseña") }}
                        {% for error in form.password.errors %}
                        <span class="text-xs text-red-600">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        {{ form.submit(class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-2 px-4 leading-normal no-underline text-base bg-blue-500 text-white hover:bg-blue-600") }}
                        <a href="{{ url_for('recover_password') }}" class="text-sm text-blue-500 hover:underline">
                            ¿Olvidaste tu contraseña?
                        </a>
                    </div>
                </form>
            </div>
            <div class="px-6 py-4">
                <div class="text-center">
                    <a href="{{ url_for('register') }}" class="text-sm text-blue-500 hover:underline">
                        ¿No tienes una cuenta? Regístrate
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
