{% extends 'base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <h2 class="text-center mb-4">Recuperar Contraseña</h2>
                <p class="text-center">Ingresa tu correo electrónico para recibir las instrucciones para restablecer tu contraseña.</p>
                <form method="POST" class="p-3">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", placeholder="Correo electrónico") }}
                    </div>
                    <div class="text-center mt-4">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
