{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Política de Privacidad</h1>

    <p>Fecha de última actualización: 28 Octubre del 2023</p>

    <p>
        Este sitio web Nosotros, www.anestesiadelnoroeste.com se compromete a respetar su privacidad. Esta Política de Privacidad establece cómo recopilamos, usamos, almacenamos y divulgamos su información personal y no personal cuando usted utiliza este sitio web.
    </p>

    <h2>Información que recopilamos</h2>
    <ul>
        <li>Información de identificación personal (nombre, dirección de correo electrónico, número de teléfono, etc.)</li>
        <li>Información técnica (dirección IP, cookies)</li>
        <li>Información no personal (datos de uso, preferencias de navegación)</li>
    </ul>

    <h2>Cómo usamos su información</h2>
    <p>Utilizamos la información recopilada para:</p>
    <ul>
        <li>Ofrecer y mejorar nuestro servicio</li>
        <li>Responder a sus preguntas o solicitudes</li>
        <li>Procesar transacciones</li>
    </ul>

    <h2>Divulgación a terceros</h2>
    <p>No vendemos, comercializamos ni transferimos de otro modo su información personal a terceros sin su consentimiento.</p>

    <h2>Uso de cookies</h2>
    <p>Utilizamos cookies para mejorar su experiencia de usuario y recopilar estadísticas de uso del sitio web.</p>

    <h2>Seguridad</h2>
    <p>Implementamos medidas de seguridad para proteger su información personal.</p>

    <h2>Sus derechos</h2>
    <ul>
        <li>Derecho de acceso</li>
        <li>Derecho de rectificación</li>
        <li>Derecho de cancelación</li>
        <li>Derecho de oposición</li>
    </ul>

    <h2>Cambios a esta política</h2>
    <p>Podemos actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio se publicará en esta página.</p>

    <h2>Contacto</h2>
    <p>Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctenos a contacto@anestesiadelnoroeste.com.</p>

</div>
{% endblock %}
